body {
    padding: 5px;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to bottom, #bd2f2f , #1d1d1d);
    color: #fff;
  }
  
  .container {
    text-align: center;

  }
  
  
  img {
    max-width: 150px;
    height: auto;
    border-radius: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  h2 {
    margin: 0;
    font-size: 1em;
    color: #ffffff;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 25px;
  }
  
  .social-icons img {
    max-width: 30px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  nav {
    margin: 0;
  }
  
  ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  li {
    text-align: center;
    background-color: #310b0b;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
  
  li:hover {
    background-color: #801616;
    transform: scale(1.05);
  }
  
  a {
    text-decoration: none;
    color: #fff;
  }
  
  
  
  footer {
    margin-top: auto;
    text-align: center;
    padding: 10px;
    background: linear-gradient(to bottom, #ff4d4d, #cc0000);
    border-top: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #fff;
    height: 30px;
  }

  footer p {
    margin: 0;
  }
  
  